/.phpunit.cache
/node_modules
/public/build
/public/hot

# Except these specific directories and files
!/public/storage/profile_images

# Ignore everything in the public/storage directory
/public/storage/*



/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
